.popover
  width: auto
  max-width: none
  .popover-inner
    .popover-title
      .close
        float: right
        font-size: 23px

.fooltip
  margin: 1em 0 1em 0
  padding: 1em
  border: 1px solid #ccc

  .fooltip-container
    width: auto
    height: auto
    position: relative
    image
      float: left

  .fooltip-link-container
    position: absolute
    .fooltip-link
      display: block
      position: absolute
      height: 32px
      width: 32px
      background: url(image-path("fooltip/link.png")) no-repeat top left
      &:hover
        background: url(image-path("fooltip/link_highlight.png")) no-repeat top left
