.fooltip-container
  width: auto
  height: auto
  position: relative
  image
    float: left
  .popover
    max-width: none

.fooltip-link-container
  position: absolute

  .fooltip-link
    display: block
    position: absolute
    height: 32px
    width: 32px
    background: url(image-path("fooltip/link.png")) no-repeat top left
